@import '../../variables.scss';

.popover-container {
    position: relative;
    .popover-component {
        width: fit-content;
        min-width: 280px;
        max-width: 500px;
        z-index: 1;
        background-color: $tone-7-color;
        border-radius: $roundness-1;
        position: absolute;
        right: 0px;
        display: block;
        &.visible {
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }
        &.top {
            bottom: 100%;
            margin-bottom: 6px;
        }
        &.bottom {
            top: 100%;
            margin-top: -6px;
        }
        &.right {
            left: 0px;
        }
        &.left {
            right: 0px;
        }
    }
}
.popover-menu {
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
}
.popover-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 280px;
    max-width: 461px;
    text-align: left;
    padding: 9px 24px 9px 16px;
    white-space: nowrap;
    min-height: 30px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    color: $tone-1-color;
    &:hover {
        cursor: pointer;
        background-color: $tone-5-color;
    }
    &:focus {
        outline: 1px solid $primary-color;
    }
}
.report-popover {
    width: 100%;
    max-width: 280px;
}
