@import '../../variables.scss';

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 32px 32px 32px;
  color: $tone-1;
  background-color: $root-background;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1;
  .close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: 1px solid $focus-color;
    }
  }
  .main-wrapper {
    width: 60%;
    .title {
      margin-bottom: 8px;
      font-size: 32px;
      font-weight: 700;
      text-align: left;
      line-height: 32px;
    }
    .subtitle {
      margin-top: 16px;
      opacity: 0.7;
      font-size: 15px;
      line-height: 1.6;
    }
    .select-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 16px;
      cursor: pointer;
      padding: 0;
      background: initial;
      color: $tone-1;
      border: none;
      &:focus {
        outline: 1px solid $focus-color;
      }
      .select {
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
      }
      .down-arrow {
        width: 14px;
        margin-left: 8px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .textarea {
      resize: none;
      width: 100%;
      height: 72px;
      margin-bottom: 12px;
      padding: 7px 8px;
      font-size: 14px;
      font-weight: 400;
      color: $tone-2;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      border: solid 1px $tone-4;
      overflow-y: auto;
      &.active {
        border: solid 1px $tone-1;
        color: $tone-1;
      }
      &:-ms-input-placeholderr {
        /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        opacity: 1;
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(255, 255, 255, 0.7);
      }
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.7);
        opacity: 1; /* Firefox */
      }
      &::selection {
        border-radius: 2px;
        background-color: #5b80a7;
      }
      &::-webkit-scrollbar {
        width: 11px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
      }
    }
    .submit-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .character-counter {
        font-size: 14px;
        text-align: right;
        margin-right: 12px;
        color: $tone-1;
      }
      .submit-button {
        height: 32px;
        border-radius: 4px;
        color: $tone-1;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        background-color: $brand-color;
        padding-left: 12px;
        padding-right: 12px;
        border: none;
        outline: none !important; // overwrites player styles
        cursor: pointer;
        &.disabled {
          background-color: rgba(0,0,0,0);
          padding-left: 11px;
          padding-right: 11px;
          color: $tone-4;
          border: 1px solid $tone-4;
        }
        &:focus {
          box-shadow: 0px 0px 0px 1px $focus-color;
        }
      }
    }
  }

  // TODO: remove once player fix the font
  * {
    font-family: sans-serif;
    font-style: normal;
  }
}

:global {
  .kaltura-moderation__root .playkit-tooltip {
    width: auto;
  }
  .playkit-player.playkit-size-sm,
  .playkit-player.playkit-size-xs {
    .kaltura-moderation__close-button {
      top: 10px;
      right: 16px;
    }
    .kaltura-moderation__root {
      padding: 14px 16px;
      .kaltura-moderation__title {
        margin-bottom: 16px;
        font-size: 20px;
        text-align: left;
      }
    }
  }
  .playkit-player.playkit-size-ty {
    .kaltura-moderation__root {
      display: none;
    }
  }
}

// TODO: remove once core team fix alignment of plugin icons
:global(.playkit-player .playkit-top-bar .playkit-right-controls) {
  display: flex;
  flex-direction: row;
}
