@import '../../variables.scss';

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 32px 32px 32px;
  color: $white-color;
  background-color: $root-background;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  outline: none;
  .close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    cursor: pointer;
    background-image: url('../../assets/close.svg');
    &:focus {
      outline: 1px solid $focus-color;
    }
}
  .main-wrapper {
    height: 100%;
    width: 400px;
    .title {
      margin-bottom: 8px;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
    .subtitle {
      margin-top: 16px;
      opacity: 0.7;
      font-size: 15px;
      line-height: 1.6;
    }
    .report-popover {
      width: 100%;
      max-width: 280px;
    }
    .popover-menu-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 36px;
      padding: 0 16px;
      font-size: 15px;
      color: $white-color;
      &:hover {
        cursor: pointer;
        background-color: $semigray-color;
      }
      &:focus {
          outline: 1px solid $focus-color;
      }
    }
    .select-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 16px;
      cursor: pointer;
      padding: 0;
      background: initial;
      color: $white-color;
      border: none;
      &:focus {
        outline: 1px solid $focus-color;
      }
      .select {
        opacity: 0.8;
        font-size: 15px;
        line-height: 1.6;
        font-weight: bold;
      }
      .down-arrow {
        width: 10px;
        height: 10px;
        margin-left: 10px;
        background-image: url('../../assets/down.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .textarea {
      resize: none;
      width: 100%;
      height: 72px;
      margin-bottom: 12px;
      padding: 7px 8px;
      font-size: 15px;
      color: $gray-color;
      background-color: rgba(255, 255, 255, 0.16);
      border-radius: 4px;
      border: solid 1px rgba($color: $white-color, $alpha: 0.4);
      overflow-y: auto;
      &.active {
        background-color: $black-color;
      }
      &:-ms-input-placeholderr { /* Internet Explorer 10-11 */
        color: $gray-color !important;
        font-size: 15px;
        opacity: 1;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $gray-color;
      }
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-color;
        opacity: 1; /* Firefox */
      }
      &::selection {
        border-radius: 2px;
        background-color: #5b80a7;
      }
      &::-webkit-scrollbar {
        width: 11px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
      }
    }
    .submit-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .character-counter {
        font-size: 14px;
        text-align: right;
        margin-right: 12px;
        color: $character-counter-color;
      }
      .submit-button {
        width: 88px;
        height: 32px;
        border-radius: 18px;
        color: $white-color;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        background-color: $submit-button-color;
        border: none;
        outline: none !important; // overwrites player styles
        cursor: pointer;
        &.disabled {
          background-color: $semigray-color;
        }
        &:hover:not(.disabled) {
          background-color: darken($color: $submit-button-color, $amount: 10);
        }
        &:focus {
          box-shadow: 0px 0px 0px 1px $focus-color;
        }
      }
    }
  }
}

:global {
  .kaltura-moderation__root .playkit-tooltip {
    width: auto;
  }
  .playkit-player.playkit-size-sm,
  .playkit-player.playkit-size-xs {
    .kaltura-moderation__close-button {
      top: 10px;
      right: 16px;
    }
    .kaltura-moderation__root {
      padding: 14px 16px;
      .kaltura-moderation__title {
        margin-bottom: 16px;
        font-size: 20px;
        text-align: left;
      }
    }
  }
  .playkit-player.playkit-size-ty {
    .kaltura-moderation__root {
      display: none;
    }
  }
}
