$white-color: #ffffff;
$black-color: #000000;
$gray-color: #cccccc;
$semigray-color: #666666;
$character-counter-color: #ebebeb;
$focus-color: #00cbff;
$submit-button-color: #01819a;
$root-background: rgba(
  $color: $black-color,
  $alpha: 0.7
);
