.toast-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  background-position: center;
  background-repeat: no-repeat;
  &.success {
    background-image: url('./assets/report.svg');
  }
  &.error {
    background-image: url('./assets/error.svg');
  }
}
